.AddChallengeHeader {
  padding-left: 5px;
}

.AddChallengeForm {
  display: flex
}

.AddChallengeInputDiv {
  /*margin: 15px;*/
  /*display: inline-block;*/
}

.AddChallengeInput {
  width: 54em;
  height: 3em;
  padding-left: 5px;
  /*margin: 15px;*/
}

.AddChallengeButton {
  padding-left: 5px;
}