html,body { 
	height: 100%; 
	min-height: 100%;
  margin: 0px; 
  padding: 0px;
  background-color: #fff;
}

/*=======================
=====Editor & Console====
=======================*/

.editor-wrapper {
  /*position: relative;*/
  height:100%;
  widows: 100%;
}

#editor { 
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*
@media (min-width: 1200px){
  .container {
      width: 100%;
  }
}*/

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.no-marg {
  margin-left: 0;
  margin-right: 0;
}

.repl-wrapper {
  height: 86vh;
}

.repl-panel {
  height: 100%;
}

.ace_gutter,
.ace_content {
  padding-top: 10px;
}

.ace_editor {
  height: 100%;
}
/*=====Subheader======*/
.subheader {
  background: #555E6B;
}

.subheader {
 display: block;
}

.subheader .btn{
  float:right;
}

.dropdown-inline {
  display: inline-block;
}

.gametype {
  color:white;
  font-size: 24px;
}

.gametimer {
  color:white;
  font-size: 18px;
}

#gameoptions {
  color: white;
  vertical-align: bottom;
  background-color: rgba(0, 0, 255, 0.0);
}

/*=======Console========*/
#console-terminal-editor {
   height: 100%;
   background: #F4F2F2;
   border: 4px solid #979797;
   border: 4px solid #979797;
 }

/*=======================
=====Question Modal======
=======================*/

/* Rectangle: */


.question {
    height: 0%;
    width: 50%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #D8D8D8;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.50);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.question a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.question a:hover{
    color: #555E6B;
}

.question .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.expanded {
    height: 20%;
}

.fa-chevron-down,
.fa-chevron-up,{
  color: white;
}