html,body { 
	height: 100%; 
	min-height: 100%;
  margin: 0px; 
  padding: 0px;
  background-color: #fff;
}

button:focus {
  outline: 0;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*=======================
=====Editor & Console====
=======================*/

.editor-wrapper {
  /*position: relative;*/
  height:100%;
  widows: 100%;
}

#editor { 
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*
@media (min-width: 1200px){
  .container {
      width: 100%;
  }
}*/

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.no-marg {
  margin-left: 0;
  margin-right: 0;
}

.repl-wrapper {
  height: 86vh;
}

.repl-panel {
  height: 100%;
  padding-right:0;
}

.ace_gutter,
.ace_content {
  padding-top: 10px;
}

.ace_editor {
  height: 100%;
}

.ace_gutter-active-line {
  margin-top: 10px;
}

/*=Game Result Card=*/

.result-card {
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  z-index: 10;
  text-align: center;
}
.result-title {
  font-size:36px;
  margin: 30px 0;
}

.result-timeleft {
  font-size: 18px;
}

.result-card .btn {
  margin-top: 10px;
}

.result-ordivider {
  margin: 15px 0;
}

/*=====Subheader======*/
/*.subheader {
  background: #555E6B;
}*/

.subheader {
 display: block;
 background: #555E6B;
 padding-top: 0.5em;
}

.subheader .btn{
  float:right;
}

.dropdown-inline {
  display: inline-block;
}

.gametype {
  color:white;
  font-size: 24px;
  margin-left: 1%;
  font-size: 2.1em;
}

.gametimer {
  color:white;
  font-size: 18px;
  position: absolute;
  right: 45%;
  font-size: 2.1em;
  margin-top: 0.2%;
}

#gameoptions {
  color: white;
  vertical-align: bottom;
  background-color: rgba(0, 0, 255, 0.0);
}

#powerup {
  background-image: url(../assets/images/powerup.png);
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  -webkit-transform: rotateY(360deg); /* Safari */
  transform: rotateY(180deg);
}

.dropdown-menu li {
  padding-left: 10px;
}

.runCodeBtn {
  text-align: center;
  width: 7em;
  margin-top: 0.2%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1.1em;
  color: #ffffff;
  background-color: #f7800c;
  border: 1px solid transparent;
}

.runCodeBtn:hover {
  background-color: #e07f08;
  color: #efeded;
}

.submitBtn {
  text-align: center;
  width: 7em;
  margin-top: 0.2%;
  font-size: 1.1em;
  color: #ffffff;
  background-color: #f7800c;
  border: 1px solid transparent;
}

.submitBtn:hover {
  background-color: #e07f08;
  color: #efeded;
}

/*=======Console========*/
#console-terminal-editor {
   height: 100%;
   background: #F4F2F2;
   border: 4px solid #979797;
   border: 4px solid #979797;
 }

 /* TODO: This is not selecting the element correctly and applying the style*/
 #console-terminal-editor > div {
  bottom: 50px;
 }

/*=======================
=====Challenge Modal======
=======================*/

/* Rectangle: */


.challenge {
    height: 0%;
    width: 50%;
    position: fixed;
    z-index: 4;
    bottom: 0;
    right: 0;
    background-color: #D8D8D8;
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.50);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.challenge a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.challenge a:hover{
    color: #555E6B;
}

.challenge .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.expanded {
    height: 40%;
}

.fa-chevron-down,
.fa-chevron-up,{
  color: white;
}

.challenge-prompt {
  font-size: 18px;
  padding-bottom: 5%;
}

.challenge-examples {
  display: inline-block;
  padding: 0 10%;
  background-color: #F5F5F5;
}

/*=======================
=====Games Lobby=========
=======================*/
.LobbyCtn {
  background: #ffffff;
  height: 100%;
}

.LobbyHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LobbyTitle {
  margin-left: 45%;
}

.LobbyBtn {
  border: 1px solid transparent;
  border-radius: 10px;
  width: 5em;
  height: 2em;
  color: black;
  font-size: 1em;
}

.LobbyUlCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  overflow: scroll;
  height: 20em;
}

.LobbyListItem {
  margin: 1em;
}

.LobbyViewBtn {
  border: 1px solid transparent;
  border-radius: 10px;
  margin-left: 15px;
  width: 100px;
}

.LobbyTitle {
  color: orange;
}

/*====Gameheader====*/

.center-dashboard {
  height: 7.5em;
  background-color: #2E383F;
}

.game-dashboard-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*.powerup-icon {
  align-self: flex-start;
}*/

.game-logo {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.game-logo-alt {
  background: -webkit-linear-gradient(#51a8ff, #389cff, #386991);
  background: -o-linear-gradient(#51a8ff, #389cff, #386991);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*.powerup-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
*/
/*====Gamestatus====*/

.gamestatus {
  border: 1px solid #2E383F;
  border-radius: 5px;
  height: 3em;
  width: 10em;
  text-align: center;
  margin-right: 1em;
  color: white;
}

.current-game {
  background-image: linear-gradient(bottom, #309AE9 50%, #FF4A0C 50%);
  background-image: -o-linear-gradient(bottom, #309AE9 50%, #FF4A0C 50%);
  background-image: -moz-linear-gradient(bottom, #309AE9 50%, #FF4A0C 50%);
  background-image: -webkit-linear-gradient(bottom, #309AE9 50%, #FF4A0C 50%);
  background-image: -ms-linear-gradient(bottom, #309AE9 50%, #FF4A0C 50%);
}

.won {
  background-color: #309AE9;
  padding-top: 0.5em;
}

.inactive {
  background-color: grey;
  padding-top: 0.5em;
}

.lost {
  background-color: #FF4A0C;
  padding-top: 0.5em;
}

.gamestatus-score {
  font-size: 20px;
}
